OnlineJudgeServer/obj/OnlineJudgeServer.csproj.nuget.cache
OnlineJudgeServer/obj
*/.idea
.idea/
*.obj
*.exe
*.pdb
*.user
[Rr]elease*/
_ReSharper*/
[Bb]in
[Dd]ebug*/
*/obj/
obj/
*.pdb
src/packages/*/
*.idc
*.nupkg
.idea/
.vs/
.idea/
.vscode/
/Apps/Resume/Dict
.pubxml*.log
project.lock.json
PublishProfiles
publish/
packages/
*.log
backup/
logs/
Serilog/
.DS_Store
*-bundle.min.js
*-bundle.min.css

